@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

h1, h2, h3 {
  color: gray;
}

#main {
  color: #e60202;
}

.h2 {
  color: red;
}

.heading {
  color: green;
}

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 140%;
}

h1 {
  font-size: 240%;
}
/* Part 3 */
div {
  font-size: 1.6em;
}

span {
  font-size: 1.6em;
}

/* Part 4 */
strong {
  font-size: 1.6rem;
}

/* Part 5 */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 1.45rem;
}

h2 {
  font-size: 1.3rem;
}

.list-unstyled {
  list-style: none;
}
/* Part 6 *

/* Part 7 */
.body {
  background: linear-gradient(to right, lightgreen 5%, #8fd38f 17%, #4caf50 40%, #2e7d32 85%, darkgreen 95%);
}

.negative {
  background: linear-gradient(to left, lightblue -50%, #81d4fa -10%, #29b6f6 0%, #0288d1 100%, darkblue 150%);
}

.percents {
  background: linear-gradient(to bottom, lightgreen 2em, #a5d6a7 4em, #66bb6a 8em, #388e3c 16em, #1b5e20 32em, #0d3b11 64em, darkgreen 128em);
}

.radial {
  background: 
    radial-gradient(ellipse at top, orange, transparent),
    radial-gradient(ellipse at bottom, red, transparent);
}

